<form action="/api/course/add" method="POST">
    <label for="name">Course name</label>
    <input type="text" class="name" id="name" name="name">

    <label for="author">Author name</label>
    <input type="text" class="author" id="author" name="author">


    <label for="img"> Course img</label>
    <input type="text" class="img" id="img" name="img">

    <button type="submit">Create</button>
</form>