<form action="/api/category/update/{{category.id}}" method="post">
    <label for="name">Category name</label>
    <input type="text" id="name" value="{{category.name}}" name="name">

    <label for="img">Category img</label>
    <input type="text" id="img" name="img" value="{{category.img}}">


    <button>Update</button>
</form>